<div class="container">
  <br>
  <h1>All Doggies :</h1>
  <div class="cards">
      <% @dogs.each do |dog| %>
        <div class="card-dog">
          <img src= "<%= dog.image %>" alt="dog">
            <% if current_user %>
              <%= link_to dog.name.upcase, dog_path(dog), class: "links-sessions" %>
            <% else %>
              <%= link_to dog.name.upcase, preview_dog_path(dog), class: "links-sessions" %>
            <%end%>
        </div>
      <% end %>
  </div>
</div>


