<div class="banner" >
  <div class="container">
    <h1>Adopt <br> a <strong>doggie</strong></h1>
    <p>AVOID THE HASSLE</p>
    <a class="btd-indw" href="#">GET STARTED</a>
  </div>
</div>
<br>
<div class="container">
  <h3> Tip Top Doggies : </h3>
  <div class="cards">
      <% @top_ten.each do |dog| %>
        <div class="card-dog">
          <img src= "<%= dog.image %>" alt="dog">
            <% if current_user %>
              <%= link_to dog.name.upcase, dog_path(dog), class: "links-sessions" %>
            <% else %>
              <%= link_to dog.name.upcase, preview_dog_path(dog), class: "links-sessions" %>
            <%end%>
        </div>
      <% end %>
  </div>
  <div class="go-to">
    <%= link_to "MORE DOGGIES", dogs_path, class: "btd-yel" %>
  </div>
</div>

