<div class="banner" >
  <div class="container">
    <h1>Adopt <br> a <strong>doggie</strong></h1>
    <p>AVOID THE HASSLE</p>
    <a class="btd-indw" href="#">GET STARTED</a>
  </div>
</div>
<br>
<% @top_ten.each do |dog| %>
  <div class="card-dog">
    <img src= "<%= dog.picture %>" alt="dog">
      <%= link_to dog.name, preview_dogs "#", class: "nav-link" %>
    <h3> <%= dog.name %> </h3>
  </div>
<% end %>
