$indigo: #1F0173;
$yellow: #f8b739;


.banner {
  height: 70vh;
  padding: 150px 0;
  background-color: $yellow;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $indigo;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
