$gris: #DCDCDC;
$gbl: #2A2F36;
$lgb: #2F343B;
$indigo: #1F0173;
$yellow: #f8b739;

.go-to {
  text-align: center;
  .btd-yel {
    padding: 10px 100px !important;
    margin: 20px;
  }
}

.btd-yel-lg {
  padding: 6% 8%;
  width: 100%;
  margin: 20px;
  color: $indigo ;
  border-radius: 5px;
  background:$yellow ;
  box-shadow: 2px 2px 10px $gris;
}

.btd-yel-lg:hover {
  opacity: 1;
  text-decoration: none;
  background: $indigo;
  color: $yellow;
}



.btd-ind, .btd-indw{
  color: $yellow ;
  padding: 5px 15px;
  border-radius: 5px;
  background:$indigo ;
  box-shadow: 2px 2px 10px $gris;
}

.btd-ind:hover {
  opacity: 1;
  text-decoration: none;
  background: $yellow;
  color: white;
}

.btd-indw:hover {
  opacity: 1;
  text-decoration: none;
  background: white;
  color: $indigo;
}

.btd-yel {
  color: $indigo ;
  padding: 5px 15px;
  border-radius: 5px;
  background:$yellow ;
  box-shadow: 2px 2px 10px $gris;
}

.btd-yel:hover {
  opacity: 1;
  text-decoration: none;
  background: $indigo;
  color: $yellow;
}

.btd-yw {
  color: $yellow ;
  padding: 5px 15px;
  border-radius: 5px;
  background:$white ;
  box-shadow: 2px 2px 10px $gris;
}

.btd-yw:hover {
  opacity: 1;
  text-decoration: none;
  background: $yellow;
  color: white;
}

