$gris: #DCDCDC;
$gbl: #2A2F36;
$lgb: #2F343B;
$indigo: #1F0173;
$yellow: #f8b739;

.card-login {
  background-size: cover;
  background-position: center;
  background-color: white;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gbl;
  margin: 10px auto;
  padding: 20px;
  overflow:scroll;
  h2, .form-inputs {
    color: $indigo
  }
}

img {
  width: 90%;
}

h3, h2, h1, p {
  color: $indigo;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px auto;
}

.card-dog {
  width: 15vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gbl;
  margin: 20px auto;
  padding: 10px;
}

.card-show {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gbl;
  padding: 10px;
  // height: 75%;
  // overflow: scroll;
  p, h2, h3 {
    text-align: left;
    margin-left: 5%;
    line-height: 100%;
  }
}

.details {
  display:flex;
  align-items: top;
  justify-content:space-between;
  margin: 10px auto;
  padding: 20px;
}

.bookings {
  border-radius: 5px;
  height: 90%;
  overflow: scroll;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gbl;
  padding: 10px;
    p, h2, h3 {
    text-align: center;
  }
  p {
    line-height: 95%;
  }
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
}

.profile-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px auto;
}

.book-bookings {
  text-align: center;
  padding: 10px;
  position: relative;
  padding-top: 20px;
}

.card-user {
  box-shadow: 5px 5px 10px $gris;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

#user{
  width: 75px;
}

#user-description {
  text-align: left;
  margin: 10px;
  line-height: 0.7;
  font-size: 0.8em;
}



