$indigo: #1F0173;
$yellow: #f8b739;

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100vw;
  i {
    font-size: 1.5em;
  }
  .footer-copyright {
    font-size: 1em;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $yellow;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  opacity: 0.5;
}

.footer-links a:hover {
  color: $yellow;
  opacity: 1;
}

.footer > i.fa-paw {
  color: $yellow;
  opacity: 0.5;
}

.footer .fa-paw:hover {
  opacity: 1;
}

.footer-copyright {
  color: $yellow;
  opacity: 0.5;
}

.footer-copyright:hover {
  opacity: 1;
}


