$indigo: #1F0173;
$yellow: #f8b739;

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: $yellow;
  opacity: 1;
}

.footer .fa-paw {
  color: black;
  opacity: 0.15;
}

.footer .fa-paw:hover {
  color: $indigo;
  opacity: 1;
}

.footer-copyright:hover {
  color: $indigo;
  opacity: 1;
}
