$indigo: #1F0173;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.dropdown-item {
  color: $indigo;
}

li a.nav-link {
  color: $indigo !important ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
