$gris: #DCDCDC;
$gbl: #2A2F36;
$lgb: #2F343B;
$indigo: #1F0173;
$yellow: #f8b739;


p {
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 2.5em;
  i {
    color: $yellow;
  }
}
